/* Untuk Tablet */
@media all and (max-width: 1000px) {
 .content{
  width:45%;
  margin-bottom:20px;
  padding:10px;
 }
 .content p{
  font-size:20px;
 }
/* Untuk Smartphone */
@media all and (max-width: 670px) {
 .header-right{
  display:none;
 }
 .top-header h2{
  font-size:40px;
  letter-spacing:2px;
  padding-bottom:20px;
 }
 .top-header p{
  margin-bottom:15px;
 }
 .google{
  margin-bottom:15px;
 }
 .btn{
  width:100%;
 }
 .content{
  width:98%;
 }
 .textarea{
  width:100%;
 }
 .input{
  width:100%;
 }
 .menu-icon{
  display:block;
 }
